<h1>Events</h1>
<ul>
<% @events.each do |event| %>
 <li>
 <%= event.name %>
 <%= link_to "Show", event_path(event) %>
 <%= link_to 'Edit', edit_event_path(event) %>
 <%= button_to 'Delete', event_path(event), :method => :delete, :data =>
{ :confirm => "Are you sure?" } %>
<%= link_to 'Attendee List', event_attendees_path(event) %>
<%#= paginate @events %>
 </li>
<% end %>
</ul>
<%= link_to 'Latest Events', latest_events_path, class: => "btn btn-danger"%>
<%= link_to 'New Event', new_event_path %>
